<br>

<br>
<form [formGroup]="userservice.form" class="normal-form" (submit)="onSubmit()">
    <mat-grid-list cols="2" rowHeight="400px">
        <mat-grid-tile>


            <div class="controles-container">
                <input type="hidden" formControlName="$key">
                <mat-form-field>
                    <input formControlName="name" matInput placeholder="Name">
                    <mat-error>This Field is mandatory</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="email" matInput placeholder="Email">
                    <mat-error>Invalid Email Address</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="address" matInput placeholder="Address">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="phone" matInput placeholder="Phone Number">
                    <mat-error *ngIf="userservice.form.controls['phone'].errors?.required">This Field is mandatary</mat-error>
                    <mat-error *ngIf="userservice.form.controls['phone'].errors?.minlength">Minimun 10 charcters needed. </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-select formControlName="role" placeholder="User role">
                        <mat-option>None</mat-option>

                    </mat-select>
                </mat-form-field>

                <div class="button-row">
                    <button mat-raised-button color="primary" type="submit" [disabled]="userservice.form.disabled">Submit</button>
                    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
                </div>
                <br>
                <br>
                <br>
            </div>


        </mat-grid-tile>
        <mat-grid-tile>

        </mat-grid-tile>

    </mat-grid-list>

</form>