<div class="row" id="weeklyData">
    
        


      <div class="col-sm-8 col-sm-offset-2"  >
      <div class="col-sm-12">
      	<h3 style="margin-left: 15px;">Update/Remove Spare Part</h3>
      </div>
    <br>
    <form>
        <div class="topnav" align="center" >
            
            <input type="text" placeholder="Search for parts..">
          </div>
          <br>
          <br>
    	<div class="col-sm-12">
    	<div class="col-sm-4">
          <label class="form-label">Name</label>
        </div>
        <div class="col-sm-8">
          <input type="text" name="" class="form-control input-block">
        </div>
        </div>

        <div class="col-sm-12">
          <div class="col-sm-4">
            <label class="form-label">Make</label>
          </div>
          <div class="col-sm-8">
            <input type="text" name="" class="form-control input-block">
          </div>
          </div>

          <div class="col-sm-12">
            <div class="col-sm-4">
              <label class="form-label">Model</label>
            </div>
            <div class="col-sm-8">
              <input type="text" name="" class="form-control input-block">
            </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-4">
                  <label class="form-label">Available Quantity</label>
                </div>
                <div class="col-sm-8">
                  <input type="text" name="" class="form-control input-block">
                </div>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-4">
                      <label class="form-label">Minimum Order Quantity</label>
                    </div>
                    <div class="col-sm-8">
                      <input type="text" name="" class="form-control input-block">
                    </div>
                    </div>

    

            <div class="col-sm-12" align="right">
                <button class="btn btn-success next-btn" onclick="nextButtonPressed()" >Update</button> 
                <button class="btn btn-success next-btn" onclick="nextButtonPressed()" >Remove</button> 
            </div>
    
     
      </form>
      </div>
    </div>