<br>
<div class="container" id="weeklyData">
    <h2 style="margin-left: 15px;"><b>Annually</b></h2>
</div>
<div class="row">

    <div class="col-sm-6 col-sm-offset-2">
        <div class="col-sm-12">
            <h3 style="margin-left: 15px;">Machine One</h3>
        </div>


        <form>


            <div class="col-sm-12">
                <div class="col-sm-4">
                    <label class="form-label">Control Unit Case Cleaning</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" name="" class="form-control input-block">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-4">
                    <label class="form-label">Insulation Resistance Verification</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" name="" class="form-control input-block">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-4">
                    <label class="form-label">Check Tightness of all Power Cables in Main Terminals</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" name="" class="form-control input-block">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-4">
                    <label class="form-label">Checking of Excister Air Gap is in Order</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" name="" class="form-control input-block">
                </div>
            </div>


        </form>
    </div>


    <div class="col-sm-6 col-sm-offset-2">
        <div class="col-sm-12">
            <h3 style="margin-left: 15px;">Machine Two</h3>
        </div>

        <form>

            <div class="col-sm-12">
                <div class="col-sm-4">
                    <label class="form-label">Control Unit Case Cleaning</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" name="" class="form-control input-block">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-4">
                    <label class="form-label">Insulation Resistance Verification</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" name="" class="form-control input-block">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-4">
                    <label class="form-label">Check Tightness of all Power Cables in Main Terminals</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" name="" class="form-control input-block">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-4">
                    <label class="form-label">Checking of Excister Air Gap is in Order</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" name="" class="form-control input-block">
                </div>
            </div>



        </form>
        <div class="col-sm-6" align="center">
            <button class="btn btn-success next-btn" onclick="nextButtonPressed()">Finish</button>
        </div>
    </div>


</div>