<div class="row" id="machine1">

    <div class="col-sm-8 col-sm-offset-2">
        <div class="col-sm-12">
            <h3 style="margin-left: 15px;">Machine Two</h3>
        </div>
        <form>

            <div class="col-sm-12">
                <div class="col-sm-4">
                    <label class="form-label">Load(kW)</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" name="" class="form-control input-block">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-4">
                    <label class="form-label">Daily Max Load Assumed(kW)</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" name="" class="form-control input-block">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-4">
                    <label class="form-label">Outages(min)</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" name="" class="form-control input-block">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-4">
                    <label class="form-label">Grid(min)</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" name="" class="form-control input-block">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-4">
                    <label class="form-label">Generation(kWh)</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" name="" class="form-control input-block">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-4">
                    <label class="form-label">Power Machine(kW)</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" name="" class="form-control input-block">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-4">
                    <label class="form-label">Generator Windings(Celcius)</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" name="" class="form-control input-block">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-4">
                    <label class="form-label">DE Bearing Temp(Celcius)</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" name="" class="form-control input-block">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-4">
                    <label class="form-label">NDE Bearing Temp(Celcius)</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" name="" class="form-control input-block">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-4">
                    <label class="form-label">Transformer Oil Temp(Celcius)</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" name="" class="form-control input-block">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-4">
                    <label class="form-label">Lubricant Oil Temp(Celcius)</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" name="" class="form-control input-block">
                </div>
            </div>

            <div class="col-sm-12" align="right">
                <button class="btn btn-success next-btn">Next</button>
            </div>
        </form>
    </div>
</div>