<app-header></app-header>
<app-navtabs></app-navtabs>
<div class="main-container" [@fallIn]='state'>

    <div class="head-container">
        <div fxFlex fxLayout fxLayoutAlign="left left">

            <h1 class="mat-display-4" color="primary">
                <b> About <span>Us</span> </b>
                <br>



            </h1>
        </div>
    </div>
</div>
<br>
<br>

<h1 class="mat-subheading-1"><b>Padiyapelella MHP – Phase 01</b></h1>
<div class="contianer">
    <div class="row">
        <div class="col-md-6">
            <br>
            <br>


            <p class="description"> Padiyapelella Mini Hydropower Project operates with a capacity of 3.5MW utilizing the water resource from Beliul Oya at Padiyapelella in Nuwara Eliya District. PHL has entered into Standardised Power Purchase Agreement (SPPA) with the Ceylon
                Electricity Board (CEB) to supply all of its energy generated to the national grid. PHL plant was commissioned on March 01, 2017. Padiyapelella MHP generates 13.26Gwh of average annual energy.
            </p>
        </div>




        <div class="col-md-4">
            <div class="icon_wrapper"><i class="icon-lamp">

           </i>
            </div>
            <div class="desc_wrapper">
                <div class="wrapper"></div>
                <br>
                <div class="number-wrapper">
                    <span class="mat-display-3" data-to="13260"><b>13260</b></span>
                    <span class="label postfix">MWh</span>
                    <p class="title">Average Annual Energy</p>
                </div>

            </div>

        </div>
    </div>


    <div fxLayoutAlign="center center">
        <iframe src="https://www.google.com/maps/d/embed?mid=19EluIgSmZFrDiR2ACNbU_X-SgRU" width="640" height="480"></iframe>
    </div>
</div>