<div class="container">


    <div class="col-sm-12">
        <h2 style="margin-left: 15px;"><b>Monthly</b></h2>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-2">
            <div class="col-sm-12">
                <h3 style="margin-left: 15px;">Machine One</h3>
            </div>


            <form>


                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <label class="form-label">Noise and Vibration Checking (DEB)</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" name="" class="form-control input-block">
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <label class="form-label">Noise and Vibration Checking (NDEB)</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" name="" class="form-control input-block">
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <label class="form-label">Visual Inspection of Inside of Terminal Boxes</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" name="" class="form-control input-block">
                    </div>
                </div>


            </form>
        </div>
        <div class="col-sm-6 col-sm-offset-2">
            <div class="col-sm-12">
                <h3 style="margin-left: 15px;">Machine Two</h3>
            </div>


            <form>


                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <label class="form-label">Noise and Vibration Checking (DEB)</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" name="" class="form-control input-block">
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <label class="form-label">Noise and Vibration Checking (NDEB)</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" name="" class="form-control input-block">
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <label class="form-label">Visual Inspection of Inside of Terminal Boxes</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" name="" class="form-control input-block">
                    </div>
                </div>


            </form>
        </div>


        <div class="col-sm-12" align="right">
            <button class="btn btn-success next-btn" onclick="nextButtonPressed()">Finish</button>
        </div>


    </div>
</div>