.logo-container {
    width: 100%;
    margin-right: 400px;
}

.logo {
    width: 300px;
    margin: center;
    margin-top: 15px;
    margin-left: 40%;
}

mat-toolbar {
    height: 90px;
}

.heading {
    color: rgb(95, 92, 92);
}

.mat-subheading-1 {
    margin-top: 2%;
    color: rgb(32, 32, 102);
}