.logo-container {
    width: 100%;
    margin-right: 400px;
}

.logo {
    width: 300px;
    margin-bottom: 0px;
    margin-left: 35%;
}

mat-toolbar {
    height: 90px;
}

.heading {
    color: rgb(95, 92, 92);
}