<div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">

        <br>
        <h4> Power Generation Data</h4>
        <form>

            <div class="col-sm-4">
                <mat-form-field class="example-full-width">
                    <mat-label>Month</mat-label>
                    <mat-select>
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let month of months" [value]="month">{{month}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-4">

                <mat-form-field class="example-full-width">
                    <input matInput [matDatepickerFilter]="" [matDatepicker]="picker" placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-sm-4">

                <mat-form-field class="example-full-width">
                    <input type="number" matInput placeholder="CEB Meter" [formControl]="CEBmeterFormControl " [errorStateMatcher]="matcher">

                    <mat-error *ngIf="CEBmeterFormControl.hasError('required')">
                        Number is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-sm-4">

                <mat-form-field class="example-full-width">
                    <input type="number" matInput placeholder="Machine One Meter" [formControl]="CEBmeterFormControl " [errorStateMatcher]="matcher">

                    <mat-error *ngIf="CEBmeterFormControl.hasError('required')">
                        Number is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-4">

                <mat-form-field class="example-full-width">
                    <input type="number" matInput placeholder="Machine Two Meter" [formControl]="CEBmeterFormControl " [errorStateMatcher]="matcher">

                    <mat-error *ngIf="CEBmeterFormControl.hasError('required')">
                        Number is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

            </div>
            <div class="col-sm-4">
                <button mat-button color="primary">Submit</button>
                <button mat-button color="warn">Clear</button>
            </div>
            <div class="col-sm-4">
                <a mat-button color="primary" routerLink="/supervisor/machine-one">Machine Details</a>
            </div>
        </form>



    </div>
</div>