<app-header></app-header>
<app-navtabs></app-navtabs>

<div class="main-container" [@fallIn]='state'>

    <div class="head-container">
        <div fxFlex fxLayout fxLayoutAlign="left left">

            <h1 class="mat-display-4" color="primary">
                Contact Us


            </h1>

        </div>


    </div>
</div>
<div class="container">
    <div class="col-md-8">
        <h3>Our address </h3>
        <br>
        <h4>Located in</h4>
        <h5><br> Colombo No. 03,
            <br> Elibank Road
            <br>Colombo 05
            <br>Sri Lanka.</h5>
        <p>Panasian Power PLC. Whether you're looking for answers, would like to solve a problem, or just want to let us know how we did, you'll find many ways to contact us right here. </p>
        <br><span class="mat-subheading-1"> E-mail: info@panasianpower.com <br><br> Call us: 94 11 465 1114 </span>
        <br>We are available From Monday till Saturday
    </div>
</div>