<div class="row" id="weeklyData">
    
        
      <div class="col-sm-12">
      <h2 style="margin-left: 15px;"><b>Weekly</b></h2>
      </div>
 <div class="row" id="machine1">

      <div class="col-sm-8 col-sm-offset-2"  >
      <div class="col-sm-12">
      	<h3 style="margin-left: 15px;">Machine One</h3>
      </div>

 
    <form>
        
  
    	<div class="col-sm-12">
    	<div class="col-sm-4">
          <label class="form-label">Turbine Intel Pressure(bar)</label>
        </div>
        <div class="col-sm-8">
          <input type="text" name="" class="form-control input-block">
        </div>
        </div>
        <br>
        <div class="col-sm-12">
        <div class="col-sm-4">
          <label class="form-label">Generator Output Speed (rpm)</label>
        </div>
        <div class="col-sm-8">
          <input type="text" name="" class="form-control input-block">
        </div>
        </div>

        <div class="col-sm-12">
        <div class="col-sm-4">
          <label class="form-label">Generator Bearing Temperature</label>
        </div>
        <div class="col-sm-8">
          <input type="text" name="" class="form-control input-block">
        </div>
        </div>

        <div class="col-sm-12">
        <div class="col-sm-4">
          <label class="form-label">Generator Winding Temperature</label>
        </div>
        <div class="col-sm-8">
          <input type="text" name="" class="form-control input-block">
        </div>
        </div>

        <div class="col-sm-12">
            <div class="col-sm-4">
              <label class="form-label">Leakages Of Turbine Seal</label>
            </div>
            <div class="col-sm-8">
              <input type="text" name="" class="form-control input-block">
            </div>
            </div>

         <div class="col-sm-12">
            <div class="col-sm-4">
              <label class="form-label">Guide Vane Match-Marks Alignment</label>
            </div>
            <div class="col-sm-8">
              <input type="text" name="" class="form-control input-block">
            </div>
            </div>

         <div class="col-sm-12">
            <div class="col-sm-4">
              <label class="form-label">Oil Level Of DE Bearing</label>
            </div>
            <div class="col-sm-8">
              <input type="text" name="" class="form-control input-block">
            </div>
            </div>
            
         <div class="col-sm-12">
            <div class="col-sm-4">
              <label class="form-label">Oil Level Of Hydraulic Oil Module</label>
            </div>
            <div class="col-sm-8">
              <input type="text" name="" class="form-control input-block">
            </div>
            </div>

         <div class="col-sm-12">
            <div class="col-sm-4">
              <label class="form-label">Alarm,Trip Devices</label>
            </div>
            <div class="col-sm-8">
              <input type="text" name="" class="form-control input-block">
            </div>
            </div>

         <div class="col-sm-12">
            <div class="col-sm-4">
              <label class="form-label">Inspection Of Pipe Work For Leakages</label>
            </div>
            <div class="col-sm-8">
              <input type="text" name="" class="form-control input-block">
            </div>
            </div>

         <div class="col-sm-12">
            <div class="col-sm-4">
              <label class="form-label">Cleaning Of Intake Screen And Tailrace Chamber</label>
            </div>
            <div class="col-sm-8">
              <input type="text" name="" class="form-control input-block">
            </div>
            </div>

         <div class="col-sm-12">
            <div class="col-sm-4">
              <label class="form-label">Inspect All Guards,Terminal Box Covers Are Fitted Securely</label>
            </div>
            <div class="col-sm-8">
              <input type="text" name="" class="form-control input-block">
            </div>
            </div>

            

            

        <div class="col-sm-12" align="right">
      	  <button class="btn btn-success next-btn" onclick="nextButtonPressed()" >Next</button> 
        </div>



      </form>
      </div>
      
    </div>

    <div class="row" id="machine2">

      <div class="col-sm-8 col-sm-offset-2"  >
      <div class="col-sm-12">
      	<h3 style="margin-left: 15px;">Machine Two</h3>
      </div>

      <form>
        <div class="col-sm-12">
            <div class="col-sm-4">
              <label class="form-label">Turbine Intel Pressure(bar)</label>
            </div>
            <div class="col-sm-8">
              <input type="text" name="" class="form-control input-block">
            </div>
            </div>
    
            <div class="col-sm-12">
            <div class="col-sm-4">
              <label class="form-label">Generator Output Speed (rpm)</label>
            </div>
            <div class="col-sm-8">
              <input type="text" name="" class="form-control input-block">
            </div>
            </div>
    
            <div class="col-sm-12">
            <div class="col-sm-4">
              <label class="form-label">Generator Bearing Temperature</label>
            </div>
            <div class="col-sm-8">
              <input type="text" name="" class="form-control input-block">
            </div>
            </div>
    
            <div class="col-sm-12">
            <div class="col-sm-4">
              <label class="form-label">Generator Winding Temperature</label>
            </div>
            <div class="col-sm-8">
              <input type="text" name="" class="form-control input-block">
            </div>
            </div>
    
            <div class="col-sm-12">
                <div class="col-sm-4">
                  <label class="form-label">Leakages Of Turbine Seal</label>
                </div>
                <div class="col-sm-8">
                  <input type="text" name="" class="form-control input-block">
                </div>
                </div>
    
             <div class="col-sm-12">
                <div class="col-sm-4">
                  <label class="form-label">Guide Vane Match-Marks Alignment</label>
                </div>
                <div class="col-sm-8">
                  <input type="text" name="" class="form-control input-block">
                </div>
                </div>
    
             <div class="col-sm-12">
                <div class="col-sm-4">
                  <label class="form-label">Oil Level Of DE Bearing</label>
                </div>
                <div class="col-sm-8">
                  <input type="text" name="" class="form-control input-block">
                </div>
                </div>
                
             <div class="col-sm-12">
                <div class="col-sm-4">
                  <label class="form-label">Oil Level Of Hydraulic Oil Module</label>
                </div>
                <div class="col-sm-8">
                  <input type="text" name="" class="form-control input-block">
                </div>
                </div>
    
             <div class="col-sm-12">
                <div class="col-sm-4">
                  <label class="form-label">Alarm,Trip Devices</label>
                </div>
                <div class="col-sm-8">
                  <input type="text" name="" class="form-control input-block">
                </div>
                </div>
    
             <div class="col-sm-12">
                <div class="col-sm-4">
                  <label class="form-label">Inspection Of Pipe Work For Leakages</label>
                </div>
                <div class="col-sm-8">
                  <input type="text" name="" class="form-control input-block">
                </div>
                </div>
    
             <div class="col-sm-12">
                <div class="col-sm-4">
                  <label class="form-label">Cleaning Of Intake Screen And Tailrace Chamber</label>
                </div>
                <div class="col-sm-8">
                  <input type="text" name="" class="form-control input-block">
                </div>
                </div>
    
             <div class="col-sm-12">
                <div class="col-sm-4">
                  <label class="form-label">Inspect All Guards,Terminal Box Covers Are Fitted Securely</label>
                </div>
                <div class="col-sm-8">
                  <input type="text" name="" class="form-control input-block">
                </div>
                </div>
    
                
    
                
    
            <div class="col-sm-12" align="right">
                <button class="btn btn-success next-btn" onclick="nextButtonPressed()" >Finish</button> 
            </div>
    
     
      </form>
      </div>
    </div>

  </div>