<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div>
            <button mat-icon-button (click)="onToggleOpenSidenav()">
            <mat-icon>dashboard</mat-icon>
            </button>

        </div>

        <span class="mat-subheading-1">Manager</span>


        <span>
        <div class="logo-container">
            <div fxLayout="column" fxLayoutAlign="center center">
                <img class="logo" src="/assets/images/main_logo.png">
            </div>

        </div>
        </span>
    </mat-toolbar-row>


</mat-toolbar>