<br>
<br>
<br>
<div class="sign-up-container" fxLayout="column" fxLayoutAlign="center center">
    <h3 class="mat-display-1"><b>Sign up</b></h3>


    <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher" #userName required>

        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <br>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [formControl]="passwordFormControl" [errorStateMatcher]="matcher" #userPassword required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>

        <mat-error *ngIf="passwordFormControl.hasError('required') &&  !passwordFormControl.hasError('minlength(8)')">
            Password is <strong>required</strong>

        </mat-error>

        <mat-error *ngIf="!passwordFormControl.hasError('pattern(this.pwdPattern)')">
            Password <strong>should A-Z,a-z,0-9,@,#,$ with 8 characters  </strong>
        </mat-error>


    </mat-form-field>

    <br>

    <button mat-stroked-button color="blue" (click)="authService.SignUp(userName.value, userPassword.value)">Sign Up</button>
    <br>
    <br>
</div>
<ng-container *ngIf="(authService.user | async) || {} as user">
    <form [formGroup]="detailForm" *ngIf="user.uid && (!user.name ||  !user.address)" (ngSubmit)="updateUserData(user)">

        <h3>Enter your details</h3>
        <mat-form-field>
            <input formControlName="displayName" matInput placeholder="Name">
            <mat-error>This Field is mandatory</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input formControlName="address" matInput placeholder="Address">
        </mat-form-field>
        <mat-form-field>
            <input formControlName="phone" matInput placeholder="Phone Number">
            <mat-error *ngIf="">This Field is mandatary</mat-error>
            <mat-error *ngIf="">"Minimun 10 charcters needed."</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-select formControlName="role" placeholder="User role">
                <mat-option>None</mat-option>
                <ng-container *ngFor="let role of roles">
                    <mat-option value="{{role.value}}">{{role.value}}</mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
        <div class="button-row">
            <button mat-raised-button color="primary" type="submit">Submit</button>
            <button mat-raised-button color="warn">Clear</button>
        </div>

    </form>


</ng-container>