<app-header></app-header>
<app-navtabs></app-navtabs>
<br>
<br>
<div class="container">
    <div class="displayTable">
        <div class="displayTableCell">
            <div class="authBlock" fxLayout="column" fxLayoutAlign="center center">
                <h3 class="mat-display-1">Reset Password</h3>
                <p class="mat-body-2">Please enter your email address to request a password reset.</p>
                <div class="formGroup">
                    <mat-form-field>
                        <input type="email" matInput class="formControl" placeholder="Email Address" #passwordResetEmail required>
                    </mat-form-field>
                </div>
                <!-- Calling ForgotPassword from AuthService Api -->
                <br>
                <div class="formGroup">
                    <button type="submit" class="btn btn-success" (click)="authService.ForgotPassword(passwordResetEmail.value) ">
                   Reset Password 
                    </button>
                </div>


                <div class="redirectToLogin ">
                    <span class="mat-body-2">Go back to ? <span class="mat-body-2"  [routerLink]="['/signin']" routerLinkActive="router-link-active" >Log In</span></span>
                </div>
            </div>
        </div>
    </div>
</div>