<mat-nav-list class="sidenav-list">

    <a mat-list-item routerLink="/admin/signup" (click)="OnToggleClose()">
        <mat-icon>account_circle</mat-icon>
        <span><h3 class="mat-body-1">Sign up</h3></span>
    </a>
    <a mat-list-item routerLink="/admin/allusers" (click)="OnToggleClose()">
        <mat-icon>table_chart</mat-icon>
        <span><h3 class="mat-body-1">Users Details</h3></span>

    </a>
    <mat-list>
        <a mat-list-item>
            <mat-icon>table_chart</mat-icon>
            <span><h3 class="mat-body-1">User</h3></span>
        </a>
    </mat-list>

</mat-nav-list>