<div class="row" id="basicDataBlock">
    <div class="col-sm-8 col-sm-offset-2" >
      <form>

    	<div class="col-sm-12">
    	<div class="col-sm-4">
          <label class="form-label">Date</label>
        </div>
        <div class="col-sm-8">
          <input type="text" name="" class="form-control input-block">
        </div>
        </div>

        <div class="col-sm-12">
        <div class="col-sm-4">
          <label class="form-label">CEB Meter</label>
        </div>
        <div class="col-sm-8">
          <input type="text" name="" class="form-control input-block">
        </div>
        </div>

        <div class="col-sm-12">
        <div class="col-sm-4">
          <label class="form-label">Machine One Meter</label>
        </div>
        <div class="col-sm-8">
          <input type="text" name="" class="form-control input-block">
        </div>
        </div>

        <div class="col-sm-12">
        <div class="col-sm-4">
          <label class="form-label">Machine Two Meter</label>
        </div>
        <div class="col-sm-8">
          <input type="text" name="" class="form-control input-block">
        </div>
        </div>

        <div class="col-sm-12" align="right">
      	  <button class="btn btn-success next-btn" (click)="toMachineOne()" >Next</button> 
        </div>

      </form>
     </div>
      
 </div>