<h4 style="margin-left: 15px;"><b>Half Year</b></h4>
<mat-form-field class="example-full-width">
    <input matInput placeholder="Cleaning of the Exciter" [formControl]="CleaningoftheExciterFormControl">
    <mat-error *ngIf="CleaningoftheExciterFormControl.hasError('required')">
        Field is <strong>required</strong>
    </mat-error>
</mat-form-field>
<h5 style="margin-left: 15px;">Machine One</h5>




<mat-form-field class="example-full-width">
    <input matInput placeholder="Cleaning of the Exciter" [formControl]="CleaningoftheExciterFormControl">
    <mat-error *ngIf="CleaningoftheExciterFormControl.hasError('required')">
        Field is <strong>required</strong>
    </mat-error>
</mat-form-field>

<mat-form-field class="example-full-width">
    <input matInput placeholder="Control Unit Case Cleaning" [formControl]="ControlUnitCaseCleaningFormControl">
    <mat-error *ngIf="ControlUnitCaseCleaningFormControl.hasError('required')">
        Field is <strong>required</strong>
    </mat-error>
</mat-form-field>

<mat-form-field class="example-full-width">
    <input matInput placeholder="Visual Inspection of the Brake Shoes" [formControl]="VisualInspectionofBrakeShoesFormControl">
    <mat-error *ngIf="VisualInspectionofBrakeShoesFormControl.hasError('required')">
        Field is <strong>required</strong>
    </mat-error>
</mat-form-field>

<mat-form-field class="example-full-width">
    <input matInput placeholder="Inspection and Checking of the Transformer Protection Devices" [formControl]="InspectionandCheckingFormControl">
    <mat-error *ngIf="InspectionandCheckingFormControl.hasError('required')">
        Field is <strong>required</strong>
    </mat-error>
</mat-form-field>


<h5 style="margin-left: 15px;">Machine Two</h5>

<mat-form-field class="example-full-width">
    <input matInput placeholder="Cleaning of the Exciter" [formControl]="CleaningoftheExciterFormControl">
    <mat-error *ngIf="CleaningoftheExciterFormControl.hasError('required')">
        Field is <strong>required</strong>
    </mat-error>
</mat-form-field>

<mat-form-field class="example-full-width">
    <input matInput placeholder="Control Unit Case Cleaning" [formControl]="ControlUnitCaseCleaningFormControl">
    <mat-error *ngIf="ControlUnitCaseCleaningFormControl.hasError('required')">
        Field is <strong>required</strong>
    </mat-error>
</mat-form-field>

<mat-form-field class="example-full-width">
    <input matInput placeholder="Visual Inspection of the Brake Shoes" [formControl]="VisualInspectionofBrakeShoesFormControl">
    <mat-error *ngIf="VisualInspectionofBrakeShoesFormControl.hasError('required')">
        Field is <strong>required</strong>
    </mat-error>
</mat-form-field>

<mat-form-field class="example-full-width">
    <input matInput placeholder="Inspection and Checking of the Transformer Protection Devices" [formControl]="InspectionandCheckingFormControl">
    <mat-error *ngIf="InspectionandCheckingFormControl.hasError('required')">
        Field is <strong>required</strong>
    </mat-error>
</mat-form-field>

<button mat-button>Submit</button>
<button mat-button color="warn">clear</button>