@import '~@angular/material/theming';
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
@include mat-core();
$thea-primary: ( 50: #f6fbfb, 100: #e8f5f4, 200: #d9efed, 300: #c9e9e6, 400: #bee4e0, 500: #b2dfdb, 600: #abdbd7, 700: #a2d7d2, 800: #99d2cd, 900: #8acac4, A100: #ffffff, A200: #ffffff, A400: #f6fffe, A700: #dcfffc, contrast: ( 50: #000000, 100: #000000, 200: #000000, 300: #000000, 400: #000000, 500: #000000, 600: #000000, 700: #000000, 800: #000000, 900: #000000, A100: #000000, A200: #000000, A400: #000000, A700: #000000, ));
$thea-accent: ( 50: #fffefb, 100: #fffdf6, 200: #fffcf0, 300: #fffaea, 400: #fff9e6, 500: #fff8e1, 600: #fff7dd, 700: #fff6d9, 800: #fff5d5, 900: #fff3cd, A100: #ffffff, A200: #ffffff, A400: #ffffff, A700: #ffffff, contrast: ( 50: #000000, 100: #000000, 200: #000000, 300: #000000, 400: #000000, 500: #000000, 600: #000000, 700: #000000, 800: #000000, 900: #000000, A100: #000000, A200: #000000, A400: #000000, A700: #000000, ));
// Define the palettes for your theme using the Material Design palettes available in palette.scss
$pap-primary: mat-palette($thea-primary, 700, 500, 900);
$pap-accent: mat-palette($thea-accent, 500, 400, 700);
// The warn palette is optional (defaults to red).
$pap-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$pap: mat-light-theme($pap-primary, $pap-accent, $pap-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using
@import './app/shared/navtabs/navtabs.component-theme.scss';
@import './app/admin/navigation/navtabs/navtabs.component-theme.scss';
@include angular-material-theme($pap);
// Navtabs component scss file 
@include navtabs-component-theme($pap);
//////////////////////////////////////
$thea-typography: mat-typography-config( $font-family: 'Rubik,  sans-serif', $display-4: mat-typography-level(100px, 100px, 300), $display-3: mat-typography-level(60px, 56px, 400), $display-2: mat-typography-level(45px, 48px, 400), $display-1: mat-typography-level(34px, 40px, 400), $headline: mat-typography-level(97.54px, 0px, 400), $title: mat-typography-level(61px, 0px, 500), $subheading-2: mat-typography-level(41.77px, 0.25px, 400), $subheading-1: mat-typography-level(34.54px, 0.25px, 400), $body-2: mat-typography-level(14.22px, 0.5px, 500), $body-1: mat-typography-level(16.26px, 0.5px, 400), $caption: mat-typography-level(12.19px, 1.25px, 400), $button: mat-typography-level(14.22px, 1.25px, 500), // Line-height must be unit-less fraction of the font-size.
$input: mat-typography-level(inherit, 1.125, 400));
@include mat-base-typography($thea-typography);
// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($thea-typography);
// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($thea-typography);
@include mat-core($thea-typography);
mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
    height: 1000px;
}

mat-sidenav {
    width: 250px;
}

.logo-container {
    width: 100%;
    margin-right: 400px;
    color: gray;
}

.logo {
    width: 60px;
    margin-bottom: 0px;
}

mat-toolbar {
    height: 90px;
}