<div class="container" id="weeklyData">
    <h2 style="margin-left: 15px;"><b>Annually</b></h2>
</div>
<div class="row">

    <div class="col-sm-6 col-sm-offset-2">
        <div class="col-sm-12">
            <h3 style="margin-left: 15px;">Machine One</h3>
        </div>


        <form class="example-form">


            <div class="col-sm-10">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Control Unit Case Cleaning">

                </mat-form-field>

            </div>

            <div class="col-sm-10">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Insulation Resistance Verification">

                </mat-form-field>

            </div>

            <div class="col-sm-10">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Check Tightness of all Power Cables in Main Terminals">

                </mat-form-field>

            </div>

            <div class="col-sm-10">
                <mat-form-field class="example-full-width">

                </mat-form-field>
            </div>


        </form>



        <div class="col-sm-12">
            <h3 style="margin-left: 15px;">Machine Two</h3>
        </div>

        <form class="example-form">



            <mat-form-field class="example-full-width">
                <input matInput placeholder="Control Unit Case Cleaning">

            </mat-form-field>



            <mat-form-field class="example-full-width">
                <input matInput placeholder="Insulation Resistance Verification">

            </mat-form-field>




            <mat-form-field class="example-full-width">
                <input matInput placeholder="Check Tightness of all Power Cables in Main Terminals">

            </mat-form-field>



            <mat-form-field class="example-full-width">
                <input matInput placeholder="Checking of Excister Air Gap is in Order">

            </mat-form-field>

            <div class="col-sm-6" align="center">
                <button class="btn btn-success next-btn" onclick="nextButtonPressed()">Submit</button>
            </div>

        </form>

    </div>